<div>
    <h2>{{vm.title}}</h2>
    <h3>{{vm.message}}</h3>

    <form asp-controller="Donation" asp-action="Submit" method="post">
        <div class="form-group">
            <label for="PaymentName">Name</label>
            <input id="PaymentName" class="form-control" ng-model="vm.name" />
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input id="Email" class="form-control" ng-model="vm.email" />
        </div>
        <div class="form-group">
            <label for="AmountMBtc">Amount (mBTC)</label>
            <div class="form-inline">
                <span class="input-group">
                    <input id="AmountMBtc" class="form-control" ng-model="vm.amountMBtc" />
                    <span class="input-group-addon">mBTC</span>
                </span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="vm.submit()">Submit</button>
    </form>
</div>
